#second_menu p{
    margin: 0;
    font-size: 100%;
}

#second_menu img{
    height: 10vh;
    margin: 1vh;
}

.rowSecond_menu{
    width: 35vw;
    height: 100%;
    border: 1px solid #63524A;
}

.third_menu{
    width: 35vw;
    height: 100%;
    display: none;
}

.third_menuLegal{
    display: flex;
    text-align: right;
    justify-content: flex-start;
    border: 1px solid #63524A;
    width: 34.9vw;
}
.third_menuLegal div{
    margin-right: 2vh;
    width: 34.9vw;
}

#menuLegal .third_menu div{
    margin-left: 2vh;
}

#menuLegal div{
    display: flex;
    justify-content: space-between;
}

#menuLegal div p{
    margin-left: 2vh;
}

#menuLegal div img{
    height: 3vh;
    margin: 0;
    transform: rotate(90deg);
    align-content: flex-end;
}

#otherLegal{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 5vh;
}

#otherLegal p{
    display: list-item;
}

#menuFOP div img{
    height: 3vh;
    margin: 0;
    transform: rotate(-90deg);
    align-content: flex-end;
}

#menuFOP div p{
    margin-right: 1vw;
}

.menuFOPmargin{
    margin-left: 35vw;
}

#menuFOP div{
    display: flex;
    justify-content: space-between;
}

#menuFOP .third_menu div{
    margin-right: 2vh;
}

#second_menu{
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.displayNone{
    display: none;
    margin-left: 34.9vw;
}

.third_menuFOP{
    width: 34.9vw;
    border: 1px solid #63524A;
}

.third_menuFOP p{
    margin-left: 2vh;
}

#secondMenuFOP div p{
    margin-left: 1vw;
}

#legalCase{
    width: 70vw;
    height: 20vh;
}