.dividingStrips{
    height: 0.5vh;
    background: rgba(99, 82, 74, 0.7);
}

#legalCase{
    display: none;
}

.pText{
    height: 1vh;
}

#introductionText{
    text-align: center;
    overflow: auto;
    font-size: 100%;
}

#introductionText p{
    margin: 0;
}

.buttonMain{
    display: flex;
}

.button{
    width: 35vw;
    border: 1px solid #63524A;
}

/* При наведенні буде: */
.mouseover{
    box-shadow: inset 1px 1px 8px 5px #f8f2d1;
    background: rgba(99, 82, 74, 0.3);
}
/* При нажиманні буде:  */
.mouseclick{
    box-shadow: inset 0 0 8px 6px rgb(37 37 35 / 40%);
    background: rgba(99, 82, 74, 0.3);
}

.button img{
    height: 10vh;
    margin: 1vh;
}

.button p{
    margin: 0;
}

#servicesLegal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 200%;
}

#servicesFOP{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 200%;
    text-align: right;
}