body {
    background: #EFA94A;
    margin: 0;
}

#main_part{ /* Основна частина */ 
    background: url(img/accounting_background_1.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.parties_part{ /* Ліва і права сторона сайту */
    width: 15vw;
    height: 100vh;
    background: rgba(99, 82, 74, 0.7);
}

#middle_part{ /* Середина сайту */
    width: 70vw;
    height: 100vh;
}