#textDetailLegal{
    width: 100%;
    background-color: rgb(104 255 92 / 55%);
    text-align: center;
    margin: 0;
    padding-bottom: 0.2%;
    background-color: #acffa6;
    background: linear-gradient(180deg, rgba(172,255,166,1) 83%, rgba(255,255,255,1) 100%);
}

.mailTextDetailLegal{
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    border: thick double rgb(172 255 166);
}

.mailTextDetailLegal ul{
    padding: 0;
    padding-left: 2%;
    margin: 0;
}

.mailTextDetailLegal li{
    padding-left: 4%;
    font-style: oblique;
}

.mailTextDetailLegal h2{
    padding-left: 4%;
}