#logoSite{
    width: 35vw;
    height: 14vh;
}

#logoSite img{
    height: 13vh;
    padding: 0.1vh;
    padding-left: 5vh;
}

#contactSite{
    width: 35vw;
    height: 14vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactSite div{
    display: flex;
}

.contactIcon img{
    height: 3vh;
    padding-left: 20vw;
}

.textContactSite{
    margin: 0;
    font-size: large;
    padding-left: 0.5vw;
}